

/* トップ画面 */
/* Webフォントを定義 */
@font-face {
  font-family: 'myfont'; /* フォント名 */
  /* フォーマットごとにパスを指定 */
  src: url('../fonts/myfont.ttf') format('truetype');
  src: url('../fonts/myfont.woff') format('woff');
}
.body1{
  background-color: yellow;
}

#abc {
  font-family: 'myfont', sans-serif;
} 

.relative {
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 10s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}


#imgcontainer{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  padding: 0.5em 1em;
  margin: 2em 0;
  /* background: #f0f7ff; */
  border: dashed 2px #5b8bd0;
  /* width: 300px; */
}


#imgebtn{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.container {
  align-items: center;
  flex-direction: column;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.square {
  width: 1500px;
  height: 300px;
  background: yellow;
}

#fileButton {
  /* margin-top: 20px; */
  color: #000;
  background-color: cyan;
  border-bottom: 5px solid cyan;
}

#fileButton:hover {
  margin-top: 3px;
  color: #000;
  background:  cyan;
  border-bottom: 2px solid  cyan;
}

#sitei {
  margin-top: 3px;
  color: #000;
  background-color: gainsboro;
  border-bottom: 5px solid cyan;
}

#sitei:hover {
  margin-top: 3px;
  color: #000;
  background:  cyan;
  border-bottom: 2px solid  cyan;
}

#up {
  /* margin-top: 20px; */
  color: #000;
  background-color:  cyan;
  border-bottom: 5px solid  cyan;
}

#up:hover {
  margin-top: 3px;
  color: #000;
  background:  cyan;
  border-bottom: 2px solid  cyan;
}

#down {
  margin-top: 3px;
  color: #000;
  background-color:  cyan;
  border-bottom: 5px solid  cyan;
}

#down:hover {
  margin-top: 3px;
  color: #000;
  background:  cyan;
  border-bottom: 2px solid  cyan;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  right: 30px;
  bottom: 50px;
}
.absolute2 {
  position: absolute;
  right: 200px;
  bottom: 50px;
} 
.absolute3 {
  position: absolute;
  left: 30px;
  bottom: 50px;
} 
.absolute4 {
  position: absolute;
  left: 200px;
  bottom: 50px;
}
 .absolute5 {
  position: absolute;
  left: 550px;
  bottom: 30px;
} 
#absolute6 {
  position: absolute;
  top: 20px;
  left: 450px;
  bottom: 50px;
  /* opacity:0; */
} 
.a{
  opacity: 0;
}
.content img {
  mix-blend-mode: multiply;
}


/* scene2 */
.topmemo{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.body2{
  background-color: #fff100;
}
#title{
  width: 300px;
  height: 40px;
}

#output1{
position: relative;
background-color: #fff0cd;
box-shadow: 0px 0px 0px 5px #fff0cd;
border: dashed 2px white;
padding: 0.2em 0.5em;
color: #454545;
width: 500px;
height: 300px;
}


#output1:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -10px 10px 1px rgba(0, 0, 0, 0.15);
}


#output1 p {
  margin: 0; 
  padding: 0;
}


#send {
  color: #000;
  background-color: cyan;
  border-bottom: 5px solid  cyan;
}

#send:hover {
  margin-top: 3px;
  color: #000;
  background:  cyan;
  border-bottom: 2px solid  cyan;
}

  .box{
    width:100%;
    height:200px;
  }
  
  /* 縦 */
  .bg_check {
    background-color: #fff;
    background-image:
     linear-gradient(-90deg, #8be4f0 50%, transparent 50%),
      linear-gradient(#8be4f0 50%, transparent 50%);
    background-size: 20px 20px;
  }
  
 
  /* 半透明色変えチェック */
  .is-transparent-mix{
    background-image:
     linear-gradient(-90deg, rgba(63, 171, 234, 0.5) 50%, transparent 50%),
      linear-gradient(rgba(253, 68, 119, 0.5) 50%, transparent 50%);
    background-size: 20px 20px;
  }