
/* body{
  background-color: cornsilk;
} */


/* トップ画面 */
/* Webフォントを定義 */
@font-face {
  font-family: 'myfont'; /* フォント名 */
  /* フォーマットごとにパスを指定 */
  src: url('../fonts/myfont.ttf') format('truetype');
  src: url('../fonts/myfont.woff') format('woff');
}
.body1{
  background-color: yellow;
}

#abc {
  font-family: 'myfont', sans-serif;
} 

.relative {
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 10s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}


#imgcontainer{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  padding: 0.5em 1em;
  margin: 2em 0;
  /* background: #f0f7ff; */
  border: dashed 2px #5b8bd0;
  /* width: 300px; */
}


#imgebtn{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.container {
  align-items: center;
  flex-direction: column;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.square {
  width: 1500px;
  height: 300px;
  background: yellow;
}

#fileButton {
  /* margin-top: 20px; */
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

#fileButton:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}

#sitei {
  margin-top: 3px;
  color: #000;
  background-color: gainsboro;
  border-bottom: 5px solid #ccc100;
}

#sitei:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}

#up {
  /* margin-top: 20px; */
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

#up:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}

#down {
  margin-top: 3px;
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

#down:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}







.relative {
  position: relative;
}
.absolute {
  position: absolute;
  right: 30px;
  bottom: 50px;
}
.absolute2 {
  position: absolute;
  right: 200px;
  bottom: 50px;
} 
.absolute3 {
  position: absolute;
  left: 30px;
  bottom: 50px;
} 
.absolute4 {
  position: absolute;
  left: 200px;
  bottom: 50px;
}
 .absolute5 {
  position: absolute;
  left: 550px;
  bottom: 30px;
} 
#absolute6 {
  position: absolute;
  top: 20px;
  left: 450px;
  bottom: 50px;
  /* opacity:0; */
} 
.a{
  opacity: 0;
}
.content img {
  mix-blend-mode: multiply;
}


/* scene2 */
.topmemo{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.body2{
  background-color: #fff100;
}
#title{
  width: 300px;
  height: 40px;
}

#output1{
  background-color: aliceblue;
  width: 500px;
}